


.fbul{
    list-style-type: none;
    padding: 0;
    
}

.fbli{
    
    
    margin-bottom: 0;
    font-weight: 0;
    line-height: 0;
   
}


h6{
 
    background-color: #e4f0fc;
    border: 1px solid #dee2e6!important
    
    
}

.fbli h2{
    display: block;
    
    margin-bottom: 10px;
    font-weight: 0;
    line-height: 1;

  
  border-radius: 5px;
}

.fbli small:nth-child(2){
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: 2;
    
    
    
    
}

